<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,400;0,700;1,400;1,700&display=swap"
      rel="stylesheet"
    />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css"
    />
    <!-- Bootstrap CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/css/bootstrap.min.css"
      rel="stylesheet"
    />
    <title>Chatty</title>
  </head>

  <style>
    * {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }
    body {
      font-family: "Noto Sans", sans-serif;
      margin: 0;
      background: #252329;
      color: #fff;
    }
    .mobile-nav {
      display: none;
    }
    .main {
      display: flex;
    }
    .sidenav {
      width: 324px;
      background: #120f13;
      height: 100vh;
      position: fixed;
    }
    .title {
      width: 100%;
      background: inherit;
      height: 59.45px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
      padding: 17px 32px;
    }
    h4 {
      font-family: 700;
      font-size: 18px;
    }
    .btn-plus {
      width: 32px;
      height: 32px;
      background: #252329;
      color: inherit;
      text-align: center;
      border: none;
      border-radius: 8px;
    }
    .sidebody {
      background: transparent;
      padding: 0 32px;
    }
    .search {
      width: 100%;
      background: #3c393f;
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: 15px 12px;
      border-radius: 8px;
      margin-top: 20px;
    }
    .btn-search {
      background: transparent;
      border: none;
      color: inherit;
    }
    .input {
      width: 90%;
      background: transparent;
      border: none;
      padding-left: 8px;
      color: inherit;
    }
    .input:focus {
      outline: none;
    }
    .body {
      margin-left: 324px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-weight: 800;
      color: inherit;
      width: 100%;
      height: 100vh;
    }

    @media (max-width: 768px) {
      .mobile-nav {
        display: block;
      }
      .sidebar {
        position: fixed;
        width: 250px;
        top: 0;
        left: -265px;
        bottom: 0;
        background: #111;
        padding-top: 50px;
        transition: 0.4s;
        height: 85%;
        margin: auto 10px;
        border-radius: 12px;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
          0 6px 20px 0 rgba(0, 0, 0, 0.19);
      }
      .sidebar h1 {
        display: block;
        padding: 10px 20px;
        color: #fff;
        text-decoration: none;
        font-family: "Rubik";
        font-weight: 400;
        margin: 0;
        font-size: 20px;
      }
      .sidebar a {
        display: block;
        padding: 10px 20px;
        color: #bbb;
        text-decoration: none;
        font-family: "Rubik";
        letter-spacing: 2px;
      }
      .sidebar a:hover {
        color: #fff;
        margin-left: 20px;
        transition: 0.4s;
      }
      button {
        position: fixed;
        right: 30px;
        top: 30px;
        background: #111;
        padding: 10px;
        border-radius: 2px;
        outline: none;
        border: none;
        border-radius: 50%;
        cursor: pointer;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
      }
      button span {
        height: 3px;
        width: 20px;
        display: block;
        margin: 6px;
        background: #fff;
      }
      .show {
        left: 0;
      }
    }
  </style>

  <body>
    <div class="main">
      <div class="sidenav">
        <div class="title">
          <h4>Channels</h4>
          <button class="btn-plus"><i class="fa fa-plus"></i></button>
        </div>
        <div class="sidebody">
          <div class="search">
            <button class="btn-search"><i class="fa fa-search"></i></button>
            <input
              type="text"
              name="chatrooms"
              id="chatrooms"
              placeholder="Search"
              class="input"
            />
          </div>
          <div class="channels">
            <% rooms.forEach(room=>{ %>
            <div class="channel-link"><a href=""><%= room.roomName %></a></div>
            <% }) %>
          </div>
        </div>
      </div>
      <div class="body">
        <h2>Welcome to Chatty &#129395;</h2>
      </div>
    </div>
    <div class="mobile-nav">
      <div class="sidebar" id="sidebar">
        <h1>Learning robo</h1>
        <a href="#">Home</a>
        <a href="#">About</a>
        <a href="#">Portfolio</a>
        <a href="#">Gallery</a>
        <a href="#">Service</a>
        <a href="#">Join</a>
        <a href="#">Contact</a>
      </div>

      <button onclick="showSidebar()">
        <span></span>
        <span></span>
        <span></span>
      </button>
    </div>

    <script>
      function showSidebar() {
        var x = document.getElementById("sidebar");
        if (x.className == "sidebar") {
          x.className += " show";
        } else {
          x.className = "sidebar";
        }
      }
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.2/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>
